# macOS
.DS_Store

# Xcode
*.xcuserstate
*.xcuserdata/
*.xcworkspace/

# SwiftPM
.build/

# Python
.venv/

# Editor
.vscode/
.VSCodeCounter/

# Local files
*.local
.local/

# Ignore large data
TRA_Fares_API.json
