<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>TPASS.calc 需要麥克風權限來使用語音快速記錄行程功能，並透過匿名數據學習以優化解析準確率。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>TPASS.calc 需要語音辨識權限來將您的語音轉換為文字，以快速記錄行程。</string>
</dict>
</plist>
